:root {
	--light: #fdf8e5;
}

body {
	background-color: var(--light);
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	display: flex;
	justify-content: center;
	margin: 0;
}
html{
   font-size: 1rem;
}
.form__header{
	font-size: 1.2rem;
	text-align: center;
	margin:10px auto;

}

.container{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	margin :5px;
}

.container > label{
	font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.2rem;
    color: #333;
    height: 20px;
    width: 200px;
    margin-top: 0.6rem;
    margin-left: 0.6rem;
    text-align: right;
    margin-right:15px;
    float:left;
}
.container>input,textarea,select{
	height: 30px;
    width: 300px;
    border: 1px solid #000;
    margin-top: 0.6rem;
	padding: 0.3rem;
	font-size:1rem;
}

.container:last-child{
    margin:auto;
	width:100px;
	text-align: center;
	
	
}

.submit{
	padding:5px 10px;
	font-size:16px;
	margin-bottom: 20px;
	background-color:blue;
	color:white;
   
}


button{
 padding:5px 10px;
 font-size:16px;
 margin-bottom: 20px;
 background-color:blue;
 color:white;
}

.error__container span{
 margin : 0 auto;
 
}

.errorMessage{
	color:red;
}